/* Reset di base per togliere i margini bianchi del browser */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  width: 100vw;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  background-color: #f8f9fa; /* Un grigio chiarissimo e pulito per lo sfondo, puoi cambiarlo */
  color: #333333;
}

/* Rimuoviamo il contenitore rigido di default di Vue */
#app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}